@{
    ViewBag.Title = "Admin Panel";
}

    <div class="jumbotron">
        <h1>Admin Panel</h1>
        <p class="lead"> Admin Panel Where You Can Control Your User And Uploaded Books. </p>
        <p> Click Here To Control The Users : <a href="~/Admin/UserList" class="btn btn-primary btn-lg">User Controls &raquo;</a></p>
        <p> Click Here To Control The Books : <a href="~/Admin/BookList" class="btn btn-primary btn-lg">Books Controls &raquo;</a></p>
        <p> Click Here To Add New User As Manager : <a href="~/Admin/AddManager" class="btn btn-primary btn-lg">Add New Managers &raquo;</a></p>
    </div>
