@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title SellYourBooks.</h2>

<h3>Description</h3>

<h4>
    SellYourBooks is a one-stop e-commerce search engine that searches over 150 books for sale—new, used, rare, out-of-print, and textbooks. We save you time and money by searching every major catalog online, and letting you know which booksellers are offering the best prices and selection. When you find a book you like, you can buy it directly from the original seller; we never charge a markup.
</h4>
<h4>
    SellYourBooks website is produced by a team of high-tech librarians and programmers based in Berkeley, California, and Düsseldorf, Germany. We are heavy readers, and buy several dozen books every year using our own search engine. We enjoy blogging about our work, and advocating for a strong, diverse, bookselling industry.
</h4>