@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us.</h2>

<address>
    B-603,Shapath 5<br />
    Prahladnagar Cross Road, Prahladnagar, Ahmedabad<br />
    Mail: <a href="mailto:17ceuon052@ddu.ac.in">Manager</a>
    <br />
    Mail: <a href="mailto:17ceuon036@ddu.ac.in">Admin</a>
    <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:17ceuon036@ddu.ac.in">support@sellyourbooks.com</a><br />

</address>