<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bba892e2-76f3-49ff-89d9-b1ee408ebc8a/resourcegroups/SellYourBooks/providers/Microsoft.Web/sites/SellYourBooks</ResourceId>
    <ResourceGroup>SellYourBooks</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sellyourbooks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sellyourbooks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SellYourBooks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SellYourBooks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sellyourbooksdbserver.database.windows.net,1433;Initial Catalog=SellYourBooks_db;User ID=jainam4320@sellyourbooksdbserver;Password=432000Book" Name="Data Source=tcp:sellyourbooksdbserver.database.windows.net,1433;Initial Catalog=SellYourBooks_db;User Id=jainam4320@sellyourbooksdbserver;Password=432000Book" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sell_Your_Books.Models.ApplicationDbContext, Sell Your Books" MigrationConfiguration="Sell_Your_Books.Migrations.Configuration, Sell Your Books" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sellyourbooksdbserver.database.windows.net,1433;Initial Catalog=SellYourBooks_db;User Id=jainam4320@sellyourbooksdbserver;Password=432000Book</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>